SUBSYSTEM=="input", ATTRS{name}=="TPPS/2 Elan TrackPoint", ENV{LIBINPUT_IGNORE_DEVICE}="1"
SUBSYSTEM=="input", ATTRS{name}=="TPPS/2 IBM TrackPoint", ENV{LIBINPUT_IGNORE_DEVICE}="1"
SUBSYSTEM=="input", ATTRS{name}=="Synaptics TM3512-010", ENV{LIBINPUT_IGNORE_DEVICE}="0"
